@charset "UTF-8";
.seventeen {
  width: 70%;
}

.seventeen .input-text::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

.seventeen .input-text:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

.seventeen .input-text::-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

.seventeen .input-text::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

.seventeen label:first-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  margin-bottom: 25px !important;
  margin-top: 40px;
  text-transform: uppercase;
  display: block !important;
  color: #333333;
}

.seventeen .input-radio {
  display: none !important;
}

.seventeen label {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  color: #000000;
}

.seventeen label.radio:before {
  content: url("../images/notchecked.svg");
  position: relative;
  width: 20px;
  height: 20px;
}

.seventeen input:checked + label:before {
  content: url("../images/checked.svg");
  position: relative;
  width: 20px;
  height: 20px;
}

.woocommerce-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4vmin;
}

.six {
  width: 60% !important;
  margin-left: 10px;
  margin-top: calc(74px + 0vmin);
}

.six label:first-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  margin-bottom: 25px !important;
  margin-top: 40px;
  text-transform: uppercase;
  color: #333333;
}

.three {
  width: auto !important;
}

.three label:first-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  margin-bottom: 25px !important;
  margin-top: 40px;
  text-transform: uppercase;
  color: #333333;
}

.thre {
  width: 35% !important;
}

.thre label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  margin-top: 0px;
  text-transform: uppercase;
  color: #333333;
}

.thre label:first-child {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  margin-bottom: 25px !important;
  margin-top: 40px;
  text-transform: uppercase;
  color: #333333;
}

.five {
  width: 47% !important;
}

.woocommerce-billing-fields__field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

p.form-row-wide {
  width: 100%;
}

.woocommerce-billing-fields__field-wrapper p {
  margin-bottom: 10px !important;
}

.woocommerce-billing-fields__field-wrapper input {
  border: 1px solid #d9d9d9;
}

.woocommerce-billing-fields__field-wrapper input::-webkit-input-placeholder {
  color: #b2b2b2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.woocommerce-billing-fields__field-wrapper input:-ms-input-placeholder {
  color: #b2b2b2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.woocommerce-billing-fields__field-wrapper input::-ms-input-placeholder {
  color: #b2b2b2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.woocommerce-billing-fields__field-wrapper input::placeholder {
  color: #b2b2b2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.woocommerce-additional-fields h3 {
  display: none;
}

.woocommerce-additional-fields .optional {
  display: none;
}

.woocommerce-additional-fields label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #333333;
}

.woocommerce-additional-fields textarea::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

.woocommerce-additional-fields textarea:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

.woocommerce-additional-fields textarea::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

.woocommerce-additional-fields textarea::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

.woocommerce-additional-fields textarea {
  border: 1px solid #d9d9d9;
}

#order_review_heading {
  text-align: left;
}

.checkout-order-review:before,
.woocommerce-order-pay .entry-content > .woocommerce:before {
  display: none;
}

.checkout-order-review:after,
.woocommerce-order-pay .entry-content > .woocommerce:after {
  display: none;
}

.woocommerce-table.woocommerce-table--order-details.shop_table.order_details td.product-name {
  max-width: inherit !important;
  min-width: inherit !important;
  width: auto !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 -1px 0 #e6e6e6;
          box-shadow: 0 -1px 0 #e6e6e6;
}

.woocommerce-table.woocommerce-table--order-details.shop_table.order_details th.woocommerce-table__product-name.product-name {
  border-bottom: none !important;
}

.block {
  display: table-cell !important;
  max-width: inherit !important;
  min-width: inherit !important;
}

.topnone {
  border-top: none;
  margin-top: 0;
  padding-top: 5px;
}

.payment svg {
  min-width: 110px;
  height: auto;
}

.nop {
  padding-left: 0;
}

.lessp {
  padding: 32px 29px 34px 30px;
}

.cdek .right p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  margin-bottom: 0;
  padding-bottom: 0px;
  color: #000000;
}

.cdek .right p span {
  margin-right: 4px;
  display: inline;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  color: #000000;
}

.c-red {
  empty-cells: hide;
}

.down:empty {
  display: none;
}

.woocommerce-checkout-review-order-table thead {
  display: none;
}

.woocommerce-checkout-review-order-table td.product-name {
  max-width: 100%;
  min-width: 235px;
  gap: 22px;
  width: auto !important;
}

.woocommerce-checkout-review-order-table .woocommerce-checkout-review-order-table th,
.woocommerce-checkout-review-order-table .woocommerce-checkout-review-order-table td {
  width: auto !important;
  max-width: inherit !important;
}

.woocommerce-checkout-review-order-table td.product-total .amount {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  white-space: nowrap;
  color: #333333;
}

.woocommerce-checkout-review-order-table tr.order-total strong .amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: right;
  color: #333333;
  white-space: nowrap;
}

.woocommerce-checkout-review-order-table td.product-total {
  vertical-align: top;
}

#order_review .wd-table-wrapper {
  overflow-x: auto;
  margin-bottom: 20px;
  padding: 0;
  background-color: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.whb-col-right,
.whb-mobile-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -10px;
  gap: 20px;
}

.cdek.payment {
  margin-top: 20px;
  margin-bottom: 43px;
}

.product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-name img {
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.cart__item .product-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  color: #333333;
}

.woocommerce-cart-form__contents td > *,
.group_table td > * {
  margin-bottom: 5px;
}

@media (max-width: 575px) {
  .product-name img {
    min-width: 55px !important;
    min-height: 55px !important;
    max-width: 55px !important;
    max-height: 55px !important;
  }
  td.product-name {
    min-width: 270px !important;
    gap: 15px !important;
  }
  .checkout-order-review {
    padding: 10px;
  }
  .cdek .right p span {
    display: block;
  }
}

@media (max-width: 420px) {
  td.product-name {
    min-width: 227px !important;
    gap: 5px !important;
  }
}

@media (max-width: 380px) {
  td.product-name {
    min-width: 210px !important;
    gap: 5px !important;
  }
}

.nowrap {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: none !important;
}

.woocommerce-breadcrumb a:last-child:after {
  display: none;
}

#cart-mobile::after {
  content: "Корзина";
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  text-align: center;
  color: #333333;
}

.header-icon__title {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 120%;
  /* identical to box height, or 17px */
  text-align: center;
  color: #333333;
}

.woocommerce-breadcrumb {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #000000;
}

.woocommerce-breadcrumb a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  /* identical to box height, or 17px */
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.woocommerce-breadcrumb a:after {
  display: inline-block;
  content: url("/wp-content/themes/woodmart/images/bread.svg");
  margin-left: 39px;
  width: 14px;
  height: 21px;
  margin-right: 39px;
}

.product-image-summary-inner {
  margin-top: 50px;
}

span.posted_in {
  display: none !important;
}

.product_title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 50px;
  line-height: 120%;
  /* or 60px */
  margin-bottom: 15px;
  margin-bottom: 0;
  color: #333333;
}

.meta-location-add_to_cart .product_meta,
.popup-quick-view .product_meta {
  padding-top: 15px;
  border-top: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.sku_wrapper {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  margin-bottom: 38px !important;
  color: #b2b2b2;
}

.sku_wrapper span {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  color: #b2b2b2 !important;
}

.summary-inner > .price,
.wd-scroll-content > .price {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 38px;
}

.summary-inner > .price del,
.wd-scroll-content > .price del {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #969696;
}

.summary-inner > .price del span,
.wd-scroll-content > .price del span {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #969696;
}

.summary-inner > .price ins span.amount,
.wd-scroll-content > .price ins span.amount {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  margin-left: 40px;
  color: #e53030;
}

.variations_form .variations label {
  display: none;
}

.swatch-on-single {
  min-width: 25px;
  padding: 12px 30px !important;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  text-align: center;
  color: #969696;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.swatch-on-single:hover {
  border: 1px solid #000000;
  color: #000000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.swatch-on-single.active-swatch {
  border: 1px solid #000000;
  color: #000000;
}

.wd-swatch:hover:after,
.wd-swatch.active-swatch:after {
  display: none;
}

.woocommerce-product-details__short-description p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #414141;
}

.rel {
  position: relative;
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.quick-buy {
  cursor: pointer;
  background: #190404;
  padding: 15px 47px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  display: inline;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: -88px;
  left: 215px;
}

.button.alt {
  background: #190404;
  padding: 15px 47px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  display: inline;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #ffffff;
}

.product-image-summary .cart {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  margin-bottom: 0;
  padding-bottom: 38px;
  border-bottom: 1px solid #d9d9d9;
}

.art-block {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 32px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.art-block .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f9f9f9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-right: 30px;
}

.art-block img {
  width: 160px;
}

.art-block .art-block__title {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  color: #000000;
}

.art-block .art-block_link a {
  color: #000;
  margin-bottom: 5px;
  display: block !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  color: #e53030;
}

.art-block .art-block__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  color: #414141;
}

.art-block a {
  margin-bottom: 0;
}

.product-image-summary-inner {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.owl-carousel .owl-nav > div {
  visibility: visible;
  opacity: 1;
  border: 1px solid #d9d9d9;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: visible;
  color: #969696 !important;
}

.owl-next {
  -webkit-transform: translateX(-38px) !important;
          transform: translateX(-38px) !important;
}

.owl-prev {
  -webkit-transform: translateX(38px) !important;
          transform: translateX(38px) !important;
}

.order-lg-first .slick-list {
  height: auto !important;
}

.woocommerce-product-gallery:not(.thumbs-position-centered) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.order-lg-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.product-image-thumbnail {
  margin-right: 32px;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: none;
}

.slick-track {
  height: auto !important;
}

.slider-title:before {
  display: none;
}

.slider-title {
  position: relative;
  padding-top: 57px;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 50px;
  line-height: 120%;
  /* identical to box height, or 60px */
  text-align: center;
  color: #333333;
}

.summary-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.woocommerce-product-details__short-description {
  padding-top: 38px;
  margin-bottom: 0;
  padding-bottom: 38px;
  border-bottom: 1px solid #d9d9d9;
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.woocommerce-product-attributes tbody tr th {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #333333;
}

.woocommerce-product-attributes tbody tr td a {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #333333 !important;
}

.woocommerce-product-attributes tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_meta a,
.woocommerce-product-attributes.shop_attributes a {
  color: #333333 !important;
  text-decoration: underline;
}

#quick-buy-modal {
  -webkit-box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.2);
  padding: 0;
}

.shadow {
  padding: 30px 0 30px 20px;
}

.quick-buy-modal__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  text-align: left;
  color: #000000;
  margin-bottom: 22px;
}

#quick-buy-modal .quick-buy-formbox__intext {
  margin-bottom: 30px;
  border: none;
  height: 47px;
  font-size: 18px;
  padding-left: 0;
  border: 1px solid #d9d9d9;
  padding: 0 20px;
}

#quick-buy-modal .quick-buy-formbox__intext::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

#quick-buy-modal .quick-buy-formbox__intext:-ms-input-placeholder {
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

#quick-buy-modal .quick-buy-formbox__intext::-ms-input-placeholder {
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

#quick-buy-modal .quick-buy-formbox__intext::placeholder {
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #b2b2b2;
}

.quick-buy-formbox__btn {
  width: 187px;
  height: auto;
  display: inline;
  padding: 14px 34px;
  margin-bottom: 16px;
}

.quick-buy-product {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quick-buy-modal__close {
  z-index: 999;
}

.politic {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  display: block;
  color: #969696;
}

.politic a {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #e53030;
}

@media (max-width: 1030px) {
  .wd-btn-arrow[class*="next"] {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-right: 0;
  }
  .wd-btn-arrow[class*="prev"] {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-left: 0;
  }
  .thre {
    width: 100% !important;
  }
  .six {
    width: 100% !important;
    margin-left: 0;
    margin-top: calc(0px + 0vmin);
  }
  .woocommerce-product-gallery:not(.thumbs-position-centered) {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .owl-carousel:hover .owl-nav > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .woocommerce-product-attributes tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 1000px) {
  .quick-buy {
    position: static !important;
    display: inline-block !important;
  }
  .product-image-summary .cart {
    padding-bottom: 10px !important;
    border-bottom: none !important;
  }
}

@media (max-width: 768px) {
  .product_title {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 15px;
    margin-bottom: 0;
    color: #333333;
    text-align: center;
  }
  .sku_wrapper {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }
  .summary-inner > .price,
  .wd-scroll-content > .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .woocommerce-product-details__short-description {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    text-align: center;
  }
  .value.with-swatches {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-title {
    position: relative;
    padding-top: 51px;
    margin-bottom: 0px;
    padding-bottom: 44px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;
    border-top: 1px solid #d9d9d9;
    color: #333333;
  }
  #cart-mobile::after {
    display: none;
  }
  .product-image-thumbnail {
    margin-right: 15px;
  }
  .meta-location-add_to_cart .product_meta,
  .popup-quick-view .product_meta {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .rel {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

@media (max-width: 768px) {
  .woocommerce-cart-form__contents td.product-thumbnail img,
  .group_table td.product-thumbnail img {
    min-width: 100px;
    max-width: 100px;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100px;
    height: 100px;
  }
  .art-block {
    margin-top: 0 !important;
    padding-top: 35px !important;
  }
  .woocommerce-cart-form__contents td.product-name,
  .group_table td.product-name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    /* margin-left: 37px; */
    width: calc(100% - 167px);
    margin-bottom: 0;
    max-width: inherit !important;
    min-height: inherit !important;
    padding-bottom: 0;
    border-bottom: none;
    text-align: left;
  }
  .nowrap {
    min-height: inherit !important;
  }
  .nowrap td.product-name {
    min-width: inherit !important;
    gap: 15px !important;
  }
  .minnone {
    min-height: inherit !important;
  }
  .button.alt {
    display: block;
    width: 48%;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    /* or 19px */
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .quick-buy {
    display: block !important;
    width: 100%;
  }
  .rel {
    width: 100%;
    height: 1px;
  }
  .quick-buy {
    cursor: pointer;
    background: #190404;
    padding: 15px 3px;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    display: inline;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute !important;
    top: -56px;
    width: 48%;
    left: auto !important;
    right: 0;
  }
  .woocommerce-product-details__short-description {
    border-top: 1px solid #d9d9d9;
  }
  .woocommerce-Tabs-panel--additional_information {
    border-bottom: none;
  }
}

@media (max-width: 410px) {
  .quick-buy,
  .button.alt {
    padding: 10px 2px;
    font-size: 12px;
  }
  .quick-buy {
    top: -45px;
  }
}
/*# sourceMappingURL=mystyle.css.map */